
.textbox {
  input {
    background-color: gray;
    border: .5px ridge #EBE9ED;
    font-family: SegoeUI, system;
    font-size: 13px;
    padding: 0 10px;

    &:read-only {
      border: .5px ridge gray;
      color: gray;
    }
  }
}
